

<div class="d-flex">
        <app-user></app-user>

    <div class="form-group message ">
        <div class="d-flex h-50 border border-info flex-column">
            <div  class="w-100 d-flex "   *ngFor="let message of MESSAGE" >
                <h5>{{message.text}}
                    <span class="ml-2 badge badge-secondary">{{message.send}}</span> 
                </h5>
            </div>
        </div>
        <label for="div">Переписка с <h4 class="text-danger">{{ChatUser.name }} {{ChatUser.lastName}}</h4></label>
        <textarea (input)="NewMessage = $event.target.value" class="form-control new-message" id="div" rows="3"></textarea>
        <button (click)="AddMessage()" class="btn btn-primary btn-sm">Отправить</button>
    </div>
    
</div> 