
<div class="d-flex">

  <app-user></app-user>
  <div class="list-group w-50 mt-4">
    <ul class="list-group user-list">
      <li class="list-group-item" >
      <span>{{ChatUSer.city}}</span>
      <span>{{ChatUSer.name}}</span>
    </li>
    <li class="list-group-item" >
      <span>{{ChatUSer.country}}</span>
    </li>
    <li class="list-group-item" >
      <span>{{ChatUSer.desc}}</span>
    </li>
  </ul>
  <a routerLink="/message/{{ChatUSer.id}}" routerLinkActive="active" class="btn btn-primary btn-sm mt-3" >Написать</a>
</div>
</div>