<ul class="list-group user-list">
  <li class="list-group-item list-group-item-secondary list-group-item-action"
  *ngFor="let user of Users" 
  >
  <a routerLink="/user/{{user.id}}" routerLinkActive="active">
  <span class="badge">{{user.name}}</span> {{user.lastName}}
</a>
</li>
</ul>